<html ng-app="maxNumberApp">
<head>
    <script src="angular.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Max Number App</title>
</head>
<body>
    <h1>JavaScript Beginner 02</h1>
    <span>Instructions:</span>
    <ol>
        <li>Define a function maxOfThree() that takes three numbers as arguments and returns the largest of them. </li>
        <li>Log the result in the console.</li>
    </ol>
    <div class="solution-container" ng-controller="NumberList">
        <!--<form name="myform" novalidate>-->
        <form name="myform">
            <h2>Solution</h2>
            <ul class="solution-list">
                <li ng-repeat="number in numbers track by $index">
                    <input type="text" value="{{number.value}}" ng-model="number.value" name="number_{{$index}}" />
                    <!--<input type="text" required value="{{number.value}}" ng-model="number.value" ng-pattern="onlyNumbers" name="number_{{$index}}" />
                    <span ng-show="myform.number_{{$index}}.$valid">valid</span>{{myform.number_0.$valid}}
                    validation: <span ng-show="myform.number_0.valid">Email is required. (+/-)Numbers & decimals only!</span>-->
                </li>
            </ul>
            <button type="button" ng-click="addValue()">Add another</button>
            <button type="submit" ng-click="calculateHighestValue()">Calculate</button>
            <button type="reset" ng-click="resetValues()">Reset</button>
            <p id="result-message"></p>
        </form>
    </div>
</body>
</html>
